ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    font-size: small;
    text-decoration: none;
}

li a:hover {
    background-color: #444;
}

.active {
    background-color: #4CAF50;
}