# ignore pychache
*.pyc
__pycache__

# ignore db
*.db
migrations

# ignore uploading contract SharedFiles
Contract/ReceivedContracts/
Contract/SentContracts/
Filesharing/SharedFiles/*

# ignore images
*.png
*.jpg
*.jpeg
*.svg
*.png

# ignore venv for those that use it
venv


Contract/RecievedContracts/

# add your IDE if applicable
.idea
*.pyc
flaskapp/contract/__pycache__/contract_form.cpython-37.pyc
flaskapp/app.db
.DS_Store
.vscode/settings.json
flaskapp/config.py

