# ignore pychache
*.pyc
__pycache__

# ignore db
*.db
migrations

# ignore uploading contract files
Contract/RecievedContracts/

# ignore images
*.png
*.jpg
*.jpeg
*.svg

# ignore venv for those that use it
venv

# add your IDE if applicable
.idea
