{% extends 'files/layout.html' %}

{% block body %}
<div id="accordion">
    <div class="card">
      <div class="card-header">
        File available to:
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
            <table class="table table-secondary table-sm table-hover">
                <thead>
                  <tr>
                    <th>File id</th>
                    <th>Client id</th>
                    <th>Company</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                {% for client in access_group: %}
                  <tr class="table-light">
                    <td>{{client.Access.file_id}}</td>
                    <td>{{client.Client.id}}</td>
                    <td>{{client.Client.name}}</td>
                    <td>
                      <ul class="nav">
                        <li class="nav-item mr-2">
                          <a href="#" alt="View file">Remove access</a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
    </div>
</div>
{% endblock body %}