{% extends 'files.html' %}

{% block body %}
<div class="card">
    <div class="card-header"><h1>Access file</h1></div>
    <div class="card-body">
        <form method="POST" action="{{url_for('access_files')}}" enctype="multipart/form-data">
            <div class="form-group">
                {{ form.csrf_token }}
                {{form.access_by.label()}}
                {{form.access_by(class='custom-select')}}
            </div>
            <div class="form-group">
                {{form.access_file.label()}}
                {{form.access_file(class='custom-select')}}
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Grant access" class="btn btn-primary">
                <a href="{{url_for('overview_files')}}" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock body %}