<!DOCTYPE html>
<head>
    <title>PORTHUB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    {% block head %}
    {% endblock %}
</head>

<body>
    <div id="header">
        <nav class="navbar navbar-expand-sm bg-info navbar-dark">
            <ul class="navbar-nav">
                <!-- <span class="badge badge-dark">PORT</span>
                <span class="badge badge-warning">HUB</span> -->
                <a href="{{url_for('index')}}">
                    <img src="{{url_for('static', filename='logo_trans_w.png')}}" style="width:280px;">
                </a>
            </ul>
            <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
            {% if 'contract' in request.path: %}   
            <a href="{{ url_for('sent_contracts')}}" class="nav-link active">Contracts</a>
            {% else: %}
            <a href="{{ url_for('sent_contracts')}}" class="nav-link">Contracts</a>
            {% endif %}
            </li>

            <li class="nav-item">
            {% if 'file' in request.path: %}
            <a href="{{ url_for('overview_files')}}" class="nav-link active">Files</a>
            {% else: %}
            <a href="{{ url_for('overview_files')}}" class="nav-link">Files</a>
            {% endif %}
            </li>

            <li class="nav-item">
                {% if 'client' in request.path: %}
                <a href="{{url_for('clients')}}" class="nav-link active">Clients</a>
                {% else: %}
                <a href="{{url_for('clients')}}" class="nav-link">Clients</a>
                {% endif%}
            </li>

            <li class="nav-item">
                {% if 'shell' in request.path: %}
                <a href="{{ url_for('create_send_shell')}}" class="nav-link active">Shell</a>
                {% else: %}
                <a href="{{ url_for('create_send_shell')}}" class="nav-link">Shell</a>
                {% endif %}
            </li>

            </ul>
            <ul class="navbar-nav">
            <li>
                <span class="text-uppercase text-white">
                    <a href="{{ url_for('user_page')}}" class="nav-link active">{{session.get('user')}}l</a>
                </span>
            </li>
            </ul>
        </nav>
    </div>
    {% block subnav%}
    {% endblock %}
    {% block body %}
    {% endblock %}
</body>
</html>