{% extends 'base.html' %}


{% block subnav %}
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            {% if request.path == '/sent_contracts'%}
            <a class="nav-link active" href="{{url_for('sent_contracts')}}">Sent contracts</a>
            {% else %}
            <a class="nav-link" href="{{url_for('sent_contracts')}}">Sent contracts</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.path == '/recv_contracts'%}
            <a class="nav-link active" href="{{url_for('recv_contracts')}}">Received contracts</a>
            {% else %}
            <a class="nav-link" href="{{url_for('recv_contracts')}}">Received contracts</a>
            {% endif %}
        </li>
        <li class="nav-item active">
        {% if request.path == '/create_contract'%}
        <a class="nav-link active" href="{{url_for('create_contract')}}">Create contract</a>
        {% else %}
        <a class="nav-link" href="{{url_for('create_contract')}}">Create contract</a>
        {% endif %}
        </li>
    </ul>
</div>
{% endblock subnav %}

{% block body %}
{% endblock %}