{% extends 'contracts.html' %}

{% block head %}
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
{% endblock head %}

{% block body %}
<div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          New contracts
          Pending
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
            <table class="table table-secondary table-sm table-hover">
                <thead>
                  <tr>
                    <th>Contract id</th>
                    <th>Receiver</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                {% for c in pendingContracts: %}
                  <tr class="table-light">
                    <td>{{c.Contract_sent.id}}</td>
                    <td>{{c.Client.name}}</td>
                    <td>{{c.Contract_sent.status}}</td>
                    <td>
                      <ul class="nav">
                        <li class="nav-item mr-2">
                          <a href="{{url_for('view_contract', cid=c.Contract_sent.id)}}" alt="View contract"><i class='fas fa-search' style='font-size:16px'></i></a>
                        </li>
                        <li class="nav-item mr-2">
                          <a href="#" alt="Edit contract"><i class='fas fa-edit' style='font-size:16px'></i></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Accepted
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <table class="table table-secondary table-sm table-hover">
            <thead>
              <tr>
                <th>Contract id</th>
                <th>Receiver</th>
                <th>Status</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            {% for c in acceptedContracts: %}
              <tr class="table-light">
                <td>{{c.Contract_sent.id}}</td>
                <td>{{c.Client.name}}</td>
                <td>{{c.Contract_sent.status}}</td>
                <td>
                  <ul class="nav">
                    <li class="nav-item mr-2">
                      <a href="{{url_for('view_contract', cid=c.Contract_sent.id)}}" alt="View contract"><i class='fas fa-search' style='font-size:16px'></i></a>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Declined
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <table class="table table-secondary table-sm table-hover">
            <thead>
              <tr>
                <th>Contract id</th>
                <th>Receiver</th>
                <th>Status</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            {% for c in declinedContracts: %}
              <tr class="table-light">
                <td>{{c.Contract_sent.id}}</td>
                <td>{{c.Client.name}}</td>
                <td>{{c.Contract_sent.status}}</td>
                <td>
                  <ul class="nav">
                    <li class="nav-item mr-2">
                      <a href="{{url_for('view_contract', cid=c.Contract_sent.id)}}" alt="View contract"><i class='fas fa-search' style='font-size:16px'></i></a>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
{% endblock body %}