{% extends 'contracts.html'%}

{% block body %}
<div class="card">
    <div class="card-header"><h1 style="text-align: center">Contract #{{contract['contractID']}}</h1></div>
    <div class="card-body">
        <div style="border:1px solid black;border-radius: 5px; width: 50% ; margin-bottom:  20px ; margin : 0 auto; padding: 10px;">
            <div style="margin-bottom: 10px">
                <b>Contract id:</b> {{ contract['contractID'] }}
            </div>
            <div style="margin-bottom: 10px">
                <b>Sender id:</b> {{ contract['senderID'] }}
            </div>
            <div style="margin-bottom: 10px">
                <b>Receiver id:</b> {{ contract['receiverID'] }}
            </div>
            <div style="margin-bottom: 10px">
                <b>File:</b> {{ contract['file']['name'] }}
            </div>
            <div>
                <b>Conditions:</b>
                <ul>
                {% for c in conditions: %}
                    <li>{{ c }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if table=="recv" %}
    <div class="card-footer" style="text-align: center">
        <button type="button" class="btn btn-success mr-4" onclick="window.location.href = '/reply/{{contract['contractID']}}/{{'accepted'}}'">Accept</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href = '/reply/{{contract['contractID']}}/{{'declined'}}'">Decline</button>
    </div>
    {% endif %}
</div>
{% endblock body %}
