{% extends 'base.html' %}


{% block subnav %}
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            {% if request.path == '/send_shell'%}
            <a class="nav-link active" href="{{url_for('send_shell')}}">View sent shell agreements</a>
            {% else %}
            <a class="nav-link" href="{{url_for('send_shell')}}">View sent shell agreements</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.path == '/recv_shell'%}
            <a class="nav-link active" href="{{url_for('recv_shell')}}">View received shell agreements</a>
            {% else %}
            <a class="nav-link" href="{{url_for('recv_shell')}}">View received shell agreements</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if request.path == '/create_send_shell'%}
            <a class="nav-link active" href="{{url_for('create_send_shell')}}">Create senders shell</a>
            {% else %}
            <a class="nav-link" href="{{url_for('create_send_shell')}}">Create senders shell</a>
            {% endif %}
        </li>
        <li class="nav-item active">
        {% if request.path == '/receive_shell'%}
        <a class="nav-link active" href="{{url_for('receive_shell')}}">Create receivers shell</a>
        {% else %}
        <a class="nav-link" href="{{url_for('receive_shell')}}">Create receivers shell</a>
        {% endif %}
        </li>
    </ul>
</div>
{% endblock subnav %}

{% block body %}
{% endblock %}